<div  class="bgimg">
<div style=" position: absolute;
top: 40%;
text-align: center;
width: 100%;">
 <button mat-raised-button color="primary" routerLink="/find" style="position: absolute;top: 97px;">
  Places
  &nbsp;
  <mat-icon>home</mat-icon>

</button>  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
        <button mat-raised-button color="primary" routerLink="/heat-map" style="position: absolute;top: 97px;">
            Divvy Heat Map
            &nbsp;
            <mat-icon>motorcycle</mat-icon>

        </button>
  </div>
  </div>
